:root {
  --primary-color1: rgb(236, 213, 207);
  --primary-color2: rgb(209, 143, 150);
  --pc1-rgba: rgba(236, 213, 207, 0.39);
  --font-color: rgb(72, 38, 48);
  --secondary-color: #e5e5e5;
  --sec-rgba: #e5e5e5f1;
  --border-radius-50: 50%;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: var(--primary-color2);
}

body {
  background: linear-gradient(
    90deg,
    var(--primary-color1),
    var(--primary-color2)
  );
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  color: var(--font-color);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 2rem;
}

p {
  margin: 0;
  font-size: 2rem;
  margin-bottom: 10px;
}

/* HEADER */

.headerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 2.5px 0;
  background: linear-gradient(
    180deg,
    var(--primary-color2),
    var(--primary-color1)
  );
}

.navbar {
  padding: 10px;
}
.navbar > ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  font-weight: 700;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--font-color);
  font-weight: 500;
}

a:hover {
  background-image: linear-gradient(
    transparent 40%,
    var(--primary-color1) 94%,
    transparent 100%
  );
}

/* HERO */

.hero-banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;
}

.hero-description {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  gap: 16px;
}

.hero-description > h2 {
  font-size: 3rem;
  align-self: flex-start;
  margin: 0;
  font-weight: 500;
}

.hero-image {
  height: 420px;
  width: 400px;
  border: 2px solid var(--pc1-rgba);
  border-radius: var(--border-radius-50);
  background-color: var(--pc1-rgba);
}

.hero-banner h1 {
  font-size: 6rem;
}

.break-med {
  width: 100%;
  height: 64px;
}

.connect-btn {
  padding: 0 10px;
  border-radius: 10px;
  background-color: var(--pc1-rgba);
  font-size: 3rem;
  font-weight: 400;
}

/* MAIN - about me, portfolio & contact */

.about-me,
.work,
.contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 32px;
  width: 96%;
}

.about-content,
.work-content,
.contact-content {
  display: flex;
  flex-direction: column;
  width: 85%;
  border-left: 10px solid var(--primary-color2);
  border-radius: 10px;
  padding-left: 32px;
}

#work-header,
#contact-header,
#about-header {
  flex: 0 0 160px;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}

.workGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 200px);
  gap: 12px;
  grid-template-areas:
    "rotating-planets rotating-planets"
    "rotating-planets rotating-planets"
    "skyline nutrition-label"
    "quiz piano ";
}

.workGridArea {
  border: 6px solid var(--secondary-color);
  border-radius: 5px;
}

.heading {
  background-color: var(--sec-rgba);
  padding: 10px;
  height: 60px;
  border-radius: 0 5px 5px 0;
  position: absolute;
  top: 12px;
  left: -1px;
  color: #612940;
  font-size: 2.5rem;
  font-weight: 500;
}

.grid-image-container,
.grid-image-container img {
  height: 189px;
  width: 100%;
}

.planets--container,
.planets--container img {
  height: 400px;
  width: 100%;
}

#rotating-planets {
  grid-area: rotating-planets;
}

#skyline {
  grid-area: skyline;
}

#nutrition-label {
  grid-area: nutrition-label;
}

#balance-sheet {
  grid-area: balance-sheet;
}

#quiz {
  grid-area: quiz;
}

.grid-image-container {
  position: relative;
}

.grid-image-container:hover .overlay {
  opacity: 1;
}

.overlay,
.overlay--planets {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--pc1-rgba);
  cursor: pointer;
}

.contact-flex {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.icons {
  display: flex;
  gap: 32px;
  padding: 10px 0;
}

h4 {
  text-align: center;
}

i {
  font-size: 3rem;
  cursor: pointer;
}

/* FOOTER */

footer {
  width: 100%;
  padding: 2.5px 0;
  background: linear-gradient(
    180deg,
    var(--primary-color1),
    var(--primary-color2)
  );
  height: 58px;
}

footer > p {
  font-size: 1.5rem;
  padding-top: 15px;
  margin-left: 10px;
  text-align: left;
}

/* @media tablets */

@media screen and (max-width: 778px) {
  .workGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 200px);
    grid-template-areas:
      "rotating-planets"
      "skyline"
      "nutrition-label"
      "quiz"
      "piano";
    place-items: center;
  }

  .planets--container,
  .planets--container img {
    height: 190px;
  }
}

@media screen and (max-width: 665px) {
  .donut {
    display: none;
  }

  .hero-banner h1 {
    font-size: 5rem;
  }

  .hero-description {
    gap: 10px;
  }

  .connect-btn,
  .hero-description > h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.5rem;
  }

  #work-header,
  #contact-header,
  #about-header {
    font-size: 2rem;
    flex: 0 1 120px;
  }

  .heading {
    font-size: 1.8rem;
    padding: 10px;
    height: 50px;
  }

  h4 {
    text-align: center;
  }
}

/* @media mobile phones */

@media screen and (max-width: 485px) {
  .headerContainer {
    height: 55px;
  }

  .hero-banner {
    gap: 32px;
  }

  .hero-description {
    gap: 10px;
  }
  .hero-banner h1 {
    font-size: 4rem;
  }

  a {
    font-size: 2rem;
  }

  .hero-description > h2 {
    font-size: 2rem;
  }

  .hero-image {
    height: 300px;
    width: 290px;
  }

  .connect-btn {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .workGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 100px);
    gap: 20px;
  }

  .grid-image-container,
  .grid-image-container img,
  .planets--container,
  .planets--container img {
    height: 95px;
    width: 100%;
  }

  #work-header,
  #contact-header,
  #about-header {
    font-size: 1.6rem;
    font-weight: 500;
    flex: 0 3 100px;
  }

  .about-content,
  .work-content,
  .contact-content {
    border-left: 5px solid var(--primary-color2);
    border-radius: 5px;
    padding-left: 25px;
  }

  .heading {
    font-size: 1.2rem;
    padding: 8px;
    height: 30px;
  }

  h4,
  i,
  .mail-link {
    font-size: 1.5rem;
    text-align: center;
  }

  .contact-flex {
    gap: 5px;
  }

  footer {
    height: 50px;
  }

  footer > p {
    font-size: 1rem;
    padding-top: 10px;
    margin-left: 5px;
  }
}
