:root {
  --oyster-pink: rgb(236, 213, 207);
  --puce: rgb(209, 143, 150);
  --pink-rgba: rgba(236, 213, 207, 0.39);
  --don-juan: rgb(72, 38, 48);
  --cararra: rgb(229, 231, 223);
  --cararra-rgba: rgba(229, 231, 223, 0.599);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: linear-gradient(90deg, var(--oyster-pink), var(--puce));
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  color: var(--don-juan);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5,
.heading {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  margin: 0;
  font-size: 1.5rem;
}

/* header */

.headerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(90deg, var(--oyster-pink), var(--puce));
  padding: 5px 0;
  border-bottom: 5px solid var(--puce);
  margin-bottom: 64px;
}

.navbar > ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  font-weight: 700;
}

a {
  text-decoration: none;
  font-size: 2.2rem;
  color: var(--don-juan);
}

a:hover {
  background-image: linear-gradient(
    transparent 40%,
    var(--oyster-pink) 94%,
    transparent 100%
  );
}

/* hero banner */

.hero-banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.hero-description {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

.hero-image {
  height: 420px;
  width: 400px;
  border: 2px solid var(--pink-rgba);
  border-radius: 50%;
  background-color: var(--pink-rgba);
}

.hero-banner h1 {
  font-size: 6rem;
}

.hero-banner p {
  font-size: 2rem;
}

.break-med {
  width: 100%;
  height: 64px;
}

/* main */

.page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 32px;
}

#about-desc {
  display: flex;
  flex-direction: column;

  width: 84%;
  border-left: 5px solid var(--puce);
  padding-left: 32px;
}

.workGrid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  min-height: 400px;
  width: 100%;
  gap: 12px;

  grid-template-areas:
    "rotating-planets rotating-planets"
    "skyline nutrition-label"
    "balance-sheet ferris-wheel";
}

.workGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
  border: 5px solid var(--cararra);
}

.heading {
  background-color: var(--cararra-rgba);
  padding: 10px;
  height: 50px;
  position: absolute;
  top: 16px;
  right: -1px;
  color: black;
}

#rotating-planets {
  grid-area: rotating-planets;
}

#skyline {
  grid-area: skyline;
}

#nutrition-label {
  grid-area: nutrition-label;
}

#balance-sheet {
  grid-area: balance-sheet;
}

#ferris-wheel {
  grid-area: ferris-wheel;
}

/* @media screen and (max-width: 780px) {
  .workGrid {
    grid-template-columns: repeat(2, 1fr);
  } */

@media screen and (max-width: 768px) {
  .workGrid {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
