:root {
  --oyster-pink: rgb(236, 213, 207);
  --puce: rgb(209, 143, 150);
  --pink-rgba: rgba(236, 213, 207, 0.39);
  --don-juan: rgb(72, 38, 48);
  --cararra: rgb(229, 231, 223);
  --cararra-rgba: rgba(229, 231, 223, 0.491);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  background: linear-gradient(90deg, var(--oyster-pink), var(--puce));
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  color: var(--don-juan);
}

h1,
h2,
h3,
h5,
h6 {
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 3rem;
}

h5,
.heading {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  margin: 0;
  font-size: 2rem;
}

.page-wrap {
  padding: 64px 8px 0px;
  margin: 0px auto;
  max-width: 1680px;
  width: 100%;
  min-height: 100vh;
}
/* header */

.headerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(90deg, var(--oyster-pink), var(--puce));
  padding: 2.5px 0;
  /* border-bottom: 5px solid var(--puce); */
}

.navbar {
  padding: 10px;
}
.navbar > ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  font-weight: 700;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 2.2rem;
  color: var(--don-juan);
}

a:hover {
  background-image: linear-gradient(
    transparent 40%,
    var(--oyster-pink) 94%,
    transparent 100%
  );
}

/* hero banner */

.hero-banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;
}

.hero-banner h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.hero-description {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 16px;
}

.hero-image {
  height: 420px;
  width: 400px;
  border: 2px solid var(--pink-rgba);
  border-radius: 50%;
  background-color: var(--pink-rgba);
}

.hero-banner h1 {
  font-size: 6rem;
}

.break-med {
  width: 100%;
  height: 64px;
}

.connect-btn {
  padding: 2px;
  border-radius: 10%;
  background-color: var(--pink-rgba);
  font-size: 2.8rem;
  font-weight: normal;
}
/* main */

.main-wrap {
  padding-top: 2px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
}

#about-desc {
  display: flex;
  flex-direction: column;

  width: 85%;
  border-left: 5px solid var(--puce);
  padding-left: 32px;
}

.workGrid {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 200px 200px 200px;
  gap: 12px;
  grid-template-areas:
    "rotating-planets rotating-planets"
    "skyline nutrition-label"
    "quiz piano ";
}

.workGridArea {
  border: 5px solid var(--cararra);
}

.heading {
  background-color: var(--cararra-rgba);
  padding: 10px;
  height: 50px;
  position: absolute;
  top: 16px;
  right: -1px;
  color: black;
}

.grid-image-container,
.grid-image-container img {
  height: 190px;
  width: 100%;
}

#rotating-planets {
  grid-area: rotating-planets;
}

#skyline {
  grid-area: skyline;
}

#nutrition-label {
  grid-area: nutrition-label;
}

#balance-sheet {
  grid-area: balance-sheet;
}

#quiz {
  grid-area: quiz;
}

/* @media screen and (max-width: 780px) {
  .workGrid {
    grid-template-columns: repeat(2, 1fr);
  } */

.grid-image-container {
  position: relative;
}

.grid-image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--pink-rgba);
  cursor: pointer;
}

/* contact */

.contact-flex {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}
i {
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .workGrid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "rotating-planets"
      "skyline"
      "nutrition-label"
      "quiz"
      "piano";
    place-items: center;
  }
}
