:root {
  --oyster-pink: rgb(236, 213, 207);
  --puce: rgb(209, 143, 150);
  --pink-rgba: rgba(236, 213, 207, 0.39);
  --don-juan: rgb(72, 38, 48);
  --cararra: rgb(229, 231, 223);
  --cararra-rgba: rgba(229, 231, 223, 0.491);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(90deg, var(--oyster-pink), var(--puce));

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  color: var(--don-juan);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2rem;
}

h5,
.heading {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  margin: 0;
  font-size: 2rem;
}

/* header */

.headerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 2.5px 0;
  background: linear-gradient(180deg, var(--puce), var(--oyster-pink));
}

.navbar {
  padding: 10px;
}
.navbar > ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  font-weight: 700;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 2.2rem;
  color: var(--don-juan);
}

a:hover {
  background-image: linear-gradient(
    transparent 40%,
    var(--oyster-pink) 94%,
    transparent 100%
  );
}

/* hero banner */

.hero-banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;
}

.hero-description {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  gap: 16px;
}

.hero-description > h2 {
  font-size: 3rem;
  align-self: flex-start;
  margin: 0;
}

.hero-image {
  height: 420px;
  width: 400px;
  border: 2px solid var(--pink-rgba);
  border-radius: 50%;
  background-color: var(--pink-rgba);
}

.hero-banner h1 {
  font-size: 6rem;
}

.break-med {
  width: 100%;
  height: 64px;
}

.connect-btn {
  padding: 10px;
  border-radius: 50%;
  background-color: var(--pink-rgba);
  font-size: 3rem;
  font-weight: bold;
}
/* main */

.main-wrap {
  padding-top: 2px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-me,
.work,
.contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 32px;
  width: 96%;
}

.about-content,
.work-content,
.contact-content {
  display: flex;
  flex-direction: column;
  width: 85%;
  border-left: 5px solid var(--puce);
  padding-left: 32px;
}

#work-header,
#contact-header,
#about-header {
  flex: 0 0 160px;
  text-align: center;
  font-size: 3rem;
}
.workGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 200px 200px 200px 200px;
  gap: 12px;
  grid-template-areas:
    "rotating-planets rotating-planets"
    "rotating-planets rotating-planets"
    "skyline nutrition-label"
    "quiz piano ";
}

.workGridArea {
  border: 5px solid var(--cararra);
}

.heading {
  background-color: var(--cararra-rgba);
  padding: 10px;
  height: 50px;
  position: absolute;
  top: 16px;
  right: -1px;
  color: black;
}

.grid-image-container,
.grid-image-container img {
  height: 190px;
  width: 100%;
}

.planets--container,
.planets--container img {
  height: 402px;
}

#rotating-planets {
  grid-area: rotating-planets;
}

#skyline {
  grid-area: skyline;
}

#nutrition-label {
  grid-area: nutrition-label;
}

#balance-sheet {
  grid-area: balance-sheet;
}

#quiz {
  grid-area: quiz;
}

.grid-image-container {
  position: relative;
}

.grid-image-container:hover .overlay {
  opacity: 1;
}

.overlay,
.overlay--planets {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--pink-rgba);
  cursor: pointer;
}

/* contact */

.contact-flex {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.icons {
  display: flex;
  gap: 32px;
  padding: 10px 0;
}

i {
  font-size: 2.6rem;
  cursor: pointer;
}

footer {
  width: 100%;
  padding: 2.5px 0;
  background: linear-gradient(180deg, var(--oyster-pink), var(--puce));
  height: 78px;
}

/* @media */

@media screen and (max-width: 778px) {
  .workGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 200px);
    grid-template-areas:
      "rotating-planets"
      "skyline"
      "nutrition-label"
      "quiz"
      "piano";
    place-items: center;
  }
  .planets--container,
  .planets--container img {
    height: 190px;
  }
}

@media screen and (max-width: 660px) {
  .donut {
    display: none;
  }

  .hero-banner > h1 {
    font-size: 5rem;
  }

  .connect-btn {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.5rem;
  }

  #work-header,
  #contact-header,
  #about-header {
    font-size: 2rem;
    flex: 0 0 120px;
  }
}

@media screen and (max-width: 480px) {
  .headerContainer {
    height: 55px;
  }

  .hero-banner h1 {
    font-size: 4rem;
  }

  .hero-description > h3 {
    font-size: 2rem;
  }

  .hero-image {
    height: 300px;
    width: 290px;
  }

  .connect-btn {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  #work-header,
  #contact-header,
  #about-header {
    font-size: 2rem;
  }
}
